<div id="inbox_status">Unknown</div> 

<%= periodically_call_remote :url => {:action => "get_inbox_status", :user_id => 1155}, 
	:update => "inbox_status", 
	:frequency => 1
%> 

<input type="text" name="some_name" value="" id="entry">

<%= observe_field "entry", 
:frequency => 1, 
:update => "live-preview", 
:complete => "Element.show('live-preview')", 
:url => { :action => "preview" },
:with => "'search=' + encodeURIComponent(value)" %> 

<div id="live-preview" style="display: none; border: 1px solid"></div> 
